body {
  font-family: "Times New Roman", Times, serif;
  background-color: gainsboro;
}

h1, h2, p {
  text-align: center;
}

.menu-button {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
}

/* Side Navigation */
.sidenav {
  height: 100vh;              
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 60px;      
  box-sizing: border-box;    
}

.sidenav a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
}

.cat-image {
  display: block;
  margin: 10px auto;
  max-width: 250px;
  border-radius: 10px;
}
